<html>
<head>
<style>

a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: darkred;
}

ul li {
  line-height: 1.4em;
}

ul a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  display: inline-block;
  width: 140px;
}

ul a:hover {
  text-decoration: underline;
}

ul a:visited {
  color: darkred;
}

.edit {
  display: inline-block;
  font-weight: normal;
  color: darkgreen;
  font-size: 0.8em;
  width: 40px;
}

.edit:visited {
  color: darkgreen;
}

</style>
</head>

<body><%= yield %></body>

</html>
